.InfoContainer{
    color:#fff;
    background:#000;
}

.InfoWrapper{
    display: grid;
    z-index: 1;
    height: 860px;
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;
    justify-content: center;
}
.InfoRow{
    display: grid;
    grid-auto-columns: minmax(auto,1fr);
    align-items: center;
    grid-template-areas: 'col1 col2';
}

.Column1{
    margin-bottom: 15px;
    padding: 0;
    grid-area: col1;
}
.Column2{
    margin-bottom: 15px;
    padding: 0;
    grid-area: col2;
}
.TextWrap{
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
}
.top1{
    color: red;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.InfoHead{
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    color: seashell;
}
.InfoHead2{
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    color: rgb(3, 1, 0);
}
.text1{
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
    color: seashell;
}
.ImgWrap{
    max-width: 555px;
    height: 100%;
    
}
.Img{
    width: 100%;
    margin: 0 0 10px 0;
    padding-right: 0;

}
.HomeBtnCont{
    margin-top: 30px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.BtnLink2{
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    white-space: nowrap;
    padding: 14px 48px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    outline: none;
    border:none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }
  .BtnLink2:hover {
    transition: all 0.2s ease-in-out;
    background-color: rgb(209, 57, 57);
    text-decoration: none;
  }
@media screen and (max-width: 768px) {
    .InfoWrapper{
        padding: 100px 0;
    }
    .InfoHead{
        font-size: 32px;
    }
    
    
}